.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2,
h3 {
    margin: 4rem 0 1rem 0;
}

.flashes {
    padding-top: 20px;
}

.flashes h4 {
    line-height: 2;
}

  /* label color */
   .input-field label {
     color: #33691e;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #33691e;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #33691e;
     box-shadow: 0 1px 0 0 #33691e;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #33691e;
     box-shadow: 0 1px 0 0 #33691e;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #33691e;
     box-shadow: 0 1px 0 0 #33691e;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #33691e;
   }

nav .brand-logo img {
    width: 8rem;
    height: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 3px solid black;
}


.line-spacing {
    margin-left: 5px;
}

.page-footer {
    padding-top: 0;
}

.footer-spacing {
    margin-bottom: 0;
}

/*-----------------index.html*/
.playground-img {
    width: 100%;
    height: auto;
}

.call-to-action {
    margin-top: 55px;
}



.reviews {
    background-color: #8bc34a;
}

.link {
    display: flow-root;
    margin: 15px;
}

.card.horizontal .card-image {
    max-width: 40%;
}

.pub-address {
    font-size: 10px;
}

.review-truncate {
    font-size: 12px;
    font-style: italic;
}

.number-circle {
    width: 60px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;
    display: inline-block;
    background-color: #8bc34a;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}

.pub-name {
    display: inline-block;
    position: relative;
    top: -7px;
    left: 7px;
}

/*--------------------Reviews Page */
.page-title {
    padding-top: 25px;
}



.chip {
  display: inline-block;
  border-radius: 25px;
  background-color: #f1f8e9;
}

.review-img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: "Font Awesome 5 Free";
}
 
.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-weight: 400;
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
  font-weight: 900;
}

.score {
    height: 255px;
}

.number-circle-big {
    width: 100px;
    line-height: 90px;
    border-radius: 30%;
    text-align: center;
    font-size: 51px;
    border: 2px solid #666;
    display: inline-block;
    background-color: #8bc34a;
    color: black;
}



.datepicker-date-display {
    background-color: #33691e;
}

.datepicker-table td.is-selected {
    background-color: #33691e;
    color: #fff;
}

.datepicker-cancel, .datepicker-today, .datepicker-done {
    color: #33691e;
    padding: 0 1rem;
}

.datepicker-clear {
    color: #ef5350;
    padding: 0 1rem;
}

button:focus {
    outline: none;
    background-color: #33691e;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #7cb342;
    -webkit-box-shadow: 0 1px 0 0 #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #33691e;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #33691e;
  }
  input[type=range]::-ms-thumb {
    background-color: #33691e;
  }

  input[type=range] + .thumb {
    background-color: #dcedc8;
  }
  input[type=range] + .thumb.active .value {
    color: #33691e;
  }

.input-field [type=text] {
    color: #7cb342;
}


#dropbox { 
  border: 4px dashed #ccc; 
  padding-left: 8px;
}
.my-form {
  margin-top: 10px;
}
.gallery {
  margin: 10px;
}
.gallery img {
  margin-left: 16px;
}
.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
}
.progress-bar .progress{
  height: 8px;
  background-color: #ff0000;
  width: 0;
}