{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-4 center-align">Categories</h3>
    <!--Add category only visible to logged in users-->
    <div class="row">
    <div class="col s12 m8">
        <p>To view all the pubs in each category, simply click on the desired category below.</p>
    </div>
    {% if session.user %}
        
            <div class="col s12 m4 center-align">
                <a href="{{ url_for('add_category') }}" class="btn-large light-green darken-2 text-shadow">
                    Add Category <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        
    {% endif %}
    </div>
    <div class="row">
    <!--Shows all categories-->
        {% for category in categories %}
            <div class="col s12 m4">
                <a href="{{ url_for('review_by_category', category_id=category._id) }}">
                    <div class="card light-green darken-2 text-shadow center-align hoverable">
                        <div class="card-content white-text">
                            <span class="card-title">{{ category.category_name }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}