{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-4 center-align">Categories</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large light-green darken-2 text-shadow">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6">
                <div class="card light-green darken-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small light-green lighten-1">View Reviews</a>
                        {% if session.user %}
                            <a href="#" class="btn-small light-blue lighten-1">Edit</a>
                            <a href="#" class="btn-small red lighten-1">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}