{% extends "base.html" %}
{% block content %}

    <div class="row">
    <!--Review details-->
        <div class="col m6">
            <img src="{{ review.photo_url }}" alt="{{ review.pub_name }} picture" class="review-img">
        </div>
        <div class="col s12 m6 right-align">
            <h2>{{ review.pub_name }}</h2>
            <p class="pub-address">{{ review.pub_address }}</p>
            <a href="{{ review.website }}" target="_blank">Website <i class="fas fa-desktop"></i></a>
            <p>{{ review.phone_number }} <i class="fas fa-phone"></i></a></p>
            <div>
                {% for category in categories %}
                        <a href="{{ url_for('review_by_category', category_id=category._id) }}"><span class="chip hoverable">{{ category.category_name }}</span></a>
                {% endfor%}
            </div>
            <!--Edit/Delete only visable to logged in users-->
            {% if session.user|lower == review.created_by|lower %}
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large light-green darken-4">
                        <i class="fas fa-pen"></i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red tooltipped modal-trigger" href="#modalconfirm" data-position="left" data-tooltip="Delete"><i class="fas fa-trash-alt"></i></a></li>
                        <li><a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Edit"><i class="fas fa-edit"></i></a></li>
                        <li><a href="{{ url_for('add_review') }}" class="btn-floating green tooltipped" data-position="left" data-tooltip="Add"><i class="far fa-plus-square"></i></a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <!--main review text-->
    <div class="row">
        <div class="col s12">
            <h5>{{ review.review_headline }}</h5>
            <p>Reviewed on {{ review.review_date }} by {{ review.created_by | capitalize }}</p>
            <h6>Grown Up Review</h6>
            <p>{{ review.review_adult }}</p>
            <h6>Kids Review</h6>
            <p>{{ review.review_kids }}</p>       
        </div>
    </div>
    <!--Review ratings-->
    <div class="row">
        <div class="col s12 m4 offset-m2">
            <table class="centered striped">
            <tbody>
                <tr class="service">
                <td>Service</td>
                <td>
                    <div class="stars-outer">
                    <div class="stars-inner"></div>
                    </div>
                </td>
                </tr>
                <tr class="atmosphere">
                <td>Atmosphere</td>
                <td>
                    <div class="stars-outer">
                    <div class="stars-inner"></div>
                    </div>
                </td>
                </tr>
                <tr class="food">
                <td>Food</td>
                <td>
                    <div class="stars-outer">
                    <div class="stars-inner"></div>
                    </div>
                </td>
                </tr>
                <tr class="value">
                <td>Value</td>
                <td>
                    <div class="stars-outer">
                    <div class="stars-inner"></div>
                    </div>
                </td>
                </tr>
                <tr class="park">
                <td>Park</td>
                <td>
                    <div class="stars-outer">
                    <div class="stars-inner"></div>
                    </div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col s12 m2 offset-m2 center-align score">
            <h5>Overall Score</h5>
            <div class="number-circle-big">
            {{ review.total_score }}
            </div>
        </div>
    </div>

    <div id="modalconfirm" class="modal">
        <div class="modal-content">
            <h4>Delete Review</h4>
            <p>Are you sure you want to delete this review?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect waves-green btn-flat">Confirm</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<!--js to create the stars for star rating-->
    <script>
        const ratings = {
            service : {{ review.service }},
            atmosphere : {{ review.atmosphere }},
            food : {{ review.food }},
            value : {{ review.value }},
            park : {{ review.park }}
        };

        const starTotal = 5;
        
        for(const rating in ratings) {  
            const starPercentage = (ratings[rating] / starTotal) * 100;
            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded; 
        }
    </script>
{% endblock %}