{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Reviews</h2>

<div class="row">
{% for review in reviews %}
    <div class="col s12 m3">
      <div class="card light-green darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ review.pub_name }}</span>
          <p>{{ review.pub_address }}</p>
          <strong>{{ review.review_headline }}</strong>
        </div>
        <div class="number-circle">
          {{ review.total_score }}
        </div>
        <a class="right light-green lighten-4 light-green-text darken-4-text btn-small" href="{{ url_for('get_reviews/{{ review.url }}') }}">Review</a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}