{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-4 center-align">Reviews for {{ category.category_name }}</h3>

    {% for review in reviews %}
        <div class="col s12">
            <div class="card horizontal hoverable">
                <div class="card-image">
                    <img src="{{ review.photo_url }}" alt="{{ review.pub_name }} picture" class="review-img">
                    <br>
                    <div class="center-align number-circle hide-on-large-only">
                        {{ review.total_score }}
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content light-green-text text-darken-4">
                        <span class="card-title">{{ review.pub_name }}</span>
                        <p class="pub-address">{{ review.pub_address }}</p>
                        <strong>{{ review.review_headline }}</strong>
                        <div class="row hide-on-med-and-down">
                            <div class="col s10 ">
                                <p class="review-truncate">{{ review.review_adult | truncate(150) }}</p>
                            </div>
                            <div class="col s2">
                                <div class="right number-circle">
                                    {{ review.total_score }}
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="hide-on-large-only">
                        <br>
                            {% if session.user %}
                                <a class="light-blue lighten-1 white-text btn-small" 
                                    href="{{ url_for('edit_review', review_id=review._id) }}">
                                    <i class="fas fa-edit left"></i> Edit
                                </a>
                                <a class="red lighten-1 white-text btn-small" 
                                    href="{{ url_for('delete_review', review_id=review._id) }}">
                                    <i class="fas fa-trash-alt left"></i> Delete
                                </a>
                            {% endif %}
                            <a class="light-green lighten-1 white-text btn-small right" 
                                href="{{ url_for('read_review', review_id=review._id) }}">
                                <i class="fas fa-align-left left"></i> Review
                            </a>
                        </div>
                    </div>
                    <div class="card-action hide-on-med-and-down">
                        {% if session.user %}
                            <a class="light-blue lighten-1 white-text btn-small" 
                                href="{{ url_for('edit_review', review_id=review._id) }}">
                                <i class="fas fa-edit left"></i> Edit
                            </a>
                            <a class="red lighten-1 white-text btn-small" 
                                href="">
                                <i class="fas fa-trash-alt left"></i> Delete
                            </a>
                        {% endif %}
                        <a class="light-green lighten-1 white-text btn-small right" 
                            href="{{ url_for('read_review', review_id=review._id) }}">
                            <i class="fas fa-align-left left"></i> Review
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}