{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Reviews for {{ category.category_name }}</h3>
<!--Shows reviews based on category. Similar layout to index page otherwise-->
<section class="reviews row">
{% if reviews|length > 0 %}
    <div class="col s12 center-align">
        {{ pagination.links }}
    </div>
    {% for review in reviews %}
        <div class="col s12 m6">
            <a href="{{ url_for('read_review', review_id=review._id) }}" class="nav-link">
                <div class="card hoverable">
                    <div class="card-image ">
                        <img src="{{ review.photo_url }}" alt="{{ review.pub_name }} picture">
                        <span class="card-title">{{ review.pub_name }}</span>
                    </div>
                    <div class="card-content light-green-text text-darken-4">
                        <div class="row">
                            <div class="col s8">
                                <p class="pub-address">{{ review.pub_address }}</p>
                                <strong>{{ review.review_headline }}</strong>
                            </div>
                            <div class="col s4">
                                <div class="number-circle">
                                    {{ review.total_score }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 ">
                            <p class="review-truncate">{{ review.review_adult | truncate(175) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="col s12 center-align">
        {{ pagination.links }}
    </div>
    {% else %}
        <h5 class="red-text text-darken-4 center-align">No Results Found</h5>
    {% endif %}     
    
</section>
{% endblock %}